{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock title %} - CrystalTriangle</title>
<meta name="author" content="Delhi Nerds">
<meta name="description" content="{{description}}">
<meta name="keywords" content="{{keywords}}">

<!-- SOCIAL MEDIA META -->
<meta property="og:description" content="{{description}}">
<meta property="og:image" content="../../www.themezinho.net/o/preview.html">
<meta property="og:site_name" content="Crystal Triangle">
<meta property="og:title" content="Crystal Triangle">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.crystaltriangle.com">

<!-- FAVICON FILES -->
<link href="{% static "ico/apple-touch-icon-144-precomposed.png" %}" rel="apple-touch-icon-precomposed" sizes="144x144">
<link href="{% static "ico/apple-touch-icon-114-precomposed.png" %}" rel="apple-touch-icon-precomposed" sizes="114x114">
<link href="{% static "ico/apple-touch-icon-72-precomposed.png" %}" rel="apple-touch-icon-precomposed" sizes="72x72">
<link href="{% static "ico/apple-touch-icon-57-precomposed.png" %}" rel="apple-touch-icon-precomposed">
<link href="{% static "ico/favicon.png" %}" rel="shortcut icon">

<!-- CSS FILES -->
<link href="{% static "css/main.css" %}" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="overflow-hidden">
  {% include "menu.html" %}
  <main>
    <!-- end transition-overlay -->
    <header class="header">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header"> <a class="navbar-brand transition" href="{% url "website:index" %}"> <img src="{% static "images/logo.png" %}" alt="Image"></a>
            <div class="sandwich-menu"> <span></span> <span></span> <span></span> <span></span> </div>
          </div>
          <!-- end navbar-header -->
        </div>
        <!-- end container-fluid -->
      </nav>
    </header>
    <!-- end header -->

{% block content %}
{% endblock content %}

<section class="hire-us wow fadeIn">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>Would you like to hire us?</h3>
      </div>
      <!-- end col-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end hire-us -->


<footer class="footer">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-6"> <span class="copyright">© 2017 Crystal Triangle. All Rights Reserved</span> </div>
    <!-- end col-4 -->
    <div class="col-md-4 col-sm-4 col-xs-6">
      <ul class="social-media">
        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
        <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
        <li><a href="#"><i class="ion-social-youtube"></i></a></li>
        <li><a href="#"><i class="ion-social-vimeo"></i></a></li>
      </ul>
    </div>
    <!-- end col-4 -->
    <div class="col-md-4 col-sm-4 hidden-xs"> <span class="creation">Designed by Delhi Nerds with<i class="ion-heart"></i> in Nuevo Delhi.</span> </div>
    <!-- end col-4 -->
  </div>
  <!-- end row -->
</footer>
<!-- end footer -->
</main>

<!-- JS FILES -->
<script src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript">
(function($) {
$(window).load(function(){
  $("body").removeClass("overflow-hidden");
  $(".preloader").addClass("move-up");
  $(".header").addClass("move-down");
  $(".site-hero").addClass("move-up");
});
})(jQuery)
</script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/masonry.js" %}"></script>
<script src="{% static "js/wow.js" %}"></script>
<script src="{% static "js/jquery.stellar.js" %}"></script>
<script src="{% static "js/jquery.vopacity.js" %}"></script>
<script src="{% static "js/jquery.fancybox.js" %}"></script>
<script src="{% static "js/slick.min.js" %}"></script>
<script src="{% static "js/jquery.themepunch.tools.min.js" %}" type="text/javascript" ></script>
<script src="{% static "js/jquery.themepunch.revolution.min.js" %}" type="text/javascript"></script>
<script type="text/javascript">
var tpj=jQuery;
        var revapi4;
        tpj(document).ready(function() {
          if(tpj("#rev_slider_4_1").revolution == undefined){
            revslider_showDoubleJqueryError("#rev_slider_4_1");
          }else{
            revapi4 = tpj("#rev_slider_4_1").show().revolution({
              sliderType:"standard",
              jsFileLocation:"js/",
              sliderLayout:"fullscreen",
              dottedOverlay:"none",
              delay:9000,
              navigation: {
                keyboardNavigation:"off",
                keyboard_direction: "horizontal",
                mouseScrollNavigation:"off",
                onHoverStop:"off",
                touch:{
                  touchenabled:"on",
                  swipe_threshold: 75,
                  swipe_min_touches: 1,
                  swipe_direction: "horizontal",
                  drag_block_vertical: false
                }
                ,
                              bullets: {
                                  enable: true,
                                  hide_onmobile: false,
                                  style: "uranus",
                                  hide_onleave: false,
                                  direction: "horizontal",
                                  h_align: "center",
                                  v_align: "bottom",
                                  h_offset: 20,
                                  v_offset: 40,
                                  space: 5,
                                  tmp: '<span class="tp-bullet-inner"></span>'
                              }
                          },
              viewPort: {
                enable:true,
                outof:"pause",
                visible_area:"80%"
              },
              responsiveLevels:[1240,1024,778,480],
              gridwidth:[1240,1024,778,480],
              gridheight:[600,600,500,400],
              lazyType:"none",
              shadow:0,
              spinner:"off",
              stopLoop:"off",
              stopAfterLoops:-1,
              stopAtSlide:-1,
              shuffle:"off",
              autoHeight:"off",
              fullScreenAlignForce:"on",
              fullScreenOffsetContainer: "0",
              fullScreenOffset: "0",
              disableProgressBar:"on",
              hideThumbsOnMobile:"off",
              hideSliderAtLimit:0,
              hideCaptionAtLimit:0,
              hideAllCaptionAtLilmit:0,
              debugMode:false,
              fallbacks: {
                simplifyAll:"off",
                nextSlideOnWindowFocus:"off",
                disableFocusListener:false,
              }
            });
          }
        });	/*ready*/
</script>
<script type="text/javascript" src="{% static "js/extensions/revolution.extension.actions.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/extensions/revolution.extension.carousel.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/extensions/revolution.extension.kenburn.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/extensions/revolution.extension.layeranimation.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/extensions/revolution.extension.migration.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/extensions/revolution.extension.navigation.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/extensions/revolution.extension.parallax.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/extensions/revolution.extension.slideanims.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/extensions/revolution.extension.video.min.js" %}"></script>
<script src="{% static "js/scripts.js" %}"></script>
</body>

</html>
