{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Contact Us
{% endblock title %}

{% block content %}

  <section class="site-hero">
    <div id="map"> </div>
  </section>
  <!-- end pages-hero -->
  <section class="contact-us">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeIn" data-wow-delay="0.1s">
          <h4>ADDRESS</h4>
          <address>
          55 East 52nd Street 21st Floor<br>
          New York, NY 10022 USA
          </address>
        </div>
        <!-- end col-4 -->
        <div class="col-md-4 col-sm-4 col-xs-6 wow fadeIn" data-wow-delay="0.1s">
          <h4>PHONES</h4>
          <p>t: 1 (212) 446 7000<br>
            f: 1 (212) 446 8575</p>
          <br>
        </div>
        <!-- end col-4 -->
        <div class="col-md-4 col-sm-4 col-xs-6 wow fadeIn" data-wow-delay="0.2s">
          <h4>E-MAIL</h4>
          <a href="#">SAY HELLLO</a> </div>
        <!-- end col-4 -->
        <div class="col-xs-12 wow fadeIn" data-wow-delay="0.1s">
          <form>
            <div class="form-group">
              <label>Your name</label>
              <input type="text">
            </div>
            <!-- end form-group -->
            <div class="form-group">
              <label>Your e-mail</label>
              <input type="text">
            </div>
            <!-- end form-group -->
            <div class="form-group">
              <label>Subject</label>
              <input type="text">
            </div>
            <!-- end form-group -->
            <div class="form-group">
              <label>Your message</label>
              <textarea></textarea>
            </div>
            <!-- end form-group -->

            <div class="form-group">
              <button type="submit">SUBMIT</button>
            </div>
            <!-- end form-group -->
          </form>
        </div>
        <!-- end col-12 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>
  <!-- end contact-us -->


{% endblock content %}
