{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Home
{% endblock title %}

{% block content %}

  <section class="site-hero">
    <div class="home-slider">
      <div class="slider-inner">
        <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="width:100% !important; float:left !important; overflow:hidden;">
          <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" data-version="5.0.7">
            <ul>
              {% for each in slides %}
              <li data-index="rs-1" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="images/banner1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Love it?" data-description=""> <img src="images/banner1.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
					id="slide-1-layer-1"
					data-x="['left','left','left','left']" data-hoffset="['120','100','80','80']"
					data-y="['middle','middle','middle','middle']" data-voffset="['-100','-120','-120','-120']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
					data-transform_idle="o:1;"
					data-style_hover="cursor:default;"
					data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;"
					data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
					data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
					data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
					data-start="1800"
					data-splitin="none"
					data-splitout="none"
					data-responsive_offset="on"><img src="{{each.image.url}}" alt="Image"> </div>
                <div class="tp-caption tp-resizeme rs-parallaxlevel-0"
					id="slide-1-layer-2"
					data-x="['left','left','left','left']" data-hoffset="['120','100','80','80']"
					data-y="['middle','middle','middle','middle']" data-voffset="['0','-50','-50','-50']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"
					data-transform_idle="o:1;"
					data-style_hover="cursor:default;"
					data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeInOut;"
					data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
					data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
					data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
					data-start="1900"
					data-splitin="none"
					data-splitout="none"
					data-responsive_offset="on">
                </div>
                <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0"
				id="slide-1-layer-3"
				data-x="['left','left','left','left']" data-hoffset="['120','100','80','80']"
				data-y="['middle','middle','middle','middle']" data-voffset="['100','51','51','31']"
				data-width="none"
				data-height="none"
				data-whitespace="nowrap"
				data-transform_idle="o:1;"
				data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
				data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
				data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
				data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
				data-start="1800"
				data-splitin="none"
				data-splitout="none"
				data-responsive_offset="on">
                  <p class="desciption">{{each.text}}</p>
                </div>
                <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0"
				id="slide-1-layer-4"
				data-x="['left','left','left','left']" data-hoffset="['120','100','80','80']"
				data-y="['middle','middle','middle','middle']" data-voffset="['200','100','100','100']"
				data-width="none"
				data-height="none"
				data-whitespace="nowrap"
				data-transform_idle="o:1;"
				data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
				data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
				data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
				data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
				data-start="1800"
				data-splitin="none"
				data-splitout="none"
				data-responsive_offset="on">
                </div>
              </li>
            {% endfor %}
            </ul>
          </div>
          <!-- end rev_slider_wrapper -->
        </div>
        <!-- end rev_slider_wrapper -->
      </div>
      <!-- end slider-inner -->
    </div>
    <!-- end home-slider -->
  </section>
  <!-- end site-hero -->
  <!-- <section class="home-portfolio">
    <ul>
      <li class="wow fadeIn" data-wow-delay="0.1s">
        <figure><img src="images/work1.jpg" alt="Image">
          <figcaption class="yellow"><a href="#">
            <h2>Digital Oranges</h2>
            <em>we craft experiences</em> <img src="images/wave-icon.png" alt="Image"> </a></figcaption>
        </figure>
      </li>
      <li class="wow fadeIn" data-wow-delay="0.2s">
        <figure><img src="images/work2.jpg" alt="Image">
          <figcaption class="turquaz"><a href="#">
            <h2>Milky Women</h2>
            <em>we craft experiences</em> <img src="images/wave-icon.png" alt="Image"> </a></figcaption>
        </figure>
      </li>
      <li class="wow fadeIn" data-wow-delay="0.3s">
        <figure><img src="images/work3.jpg" alt="Image">
          <figcaption class="blue"><a href="#">
            <h2>Splashing Fruits</h2>
            <em>we craft experiences</em> <img src="images/wave-icon.png" alt="Image"> </a></figcaption>
        </figure>
      </li>
      <li class="double wow fadeIn" data-wow-delay="0.1s">
        <figure><img src="images/work4.jpg" alt="Image">
          <figcaption class="orange"><a href="#">
            <h2>Happy Cow</h2>
            <em>we craft experiences</em> <img src="images/wave-icon.png" alt="Image"> </a></figcaption>
        </figure>
      </li>
      <li class="double wow fadeIn" data-wow-delay="0.2s">
        <figure><img src="images/work5.jpg" alt="Image">
          <figcaption class="purple"><a href="#">
            <h2>One Oh One</h2>
            <em>we craft experiences</em> <img src="images/wave-icon.png" alt="Image"> </a></figcaption>
        </figure>
      </li>
      <li class="half wow fadeIn" data-wow-delay="0.1s">
        <figure><img src="images/work6.jpg" alt="Image">
          <figcaption class="green"><a href="#">
            <h2>Corn Burger</h2>
            <em>we craft experiences</em> <img src="images/wave-icon.png" alt="Image"> </a></figcaption>
        </figure>
      </li>
      <li class="half wow fadeIn" data-wow-delay="0.2s">
        <figure><img src="images/work7.jpg" alt="Image">
          <figcaption class="light-blue"><a href="#">
            <h2>Strawcake</h2>
            <em>we craft experiences</em> <img src="images/wave-icon.png" alt="Image"> </a></figcaption>
        </figure>
      </li>
    </ul>
  </section> -->
  <!-- end home-portfolio -->
  <section class="home-news">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
          <div class="news-title wow fadeIn" data-wow-delay="0.1s">
            <h3>NEWS</h3>
          </div>
          <!-- end news-title -->
        </div>
        <!-- end col-4 -->
        {% for blog in blogs %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="news-box wow fadeIn" data-wow-delay="0.2s"> <span class="news-category"><span class="date">{{blog.date_added}}</span></span>
            <h4 class="news-title">{{blog.title}}</h4>
            <p>{{blog.intro}}</p>
          <!-- end news-box -->
        </div>
        {% endfor %}
      </div>
      <!-- end row -->
    </div>
    <!-- end container-fluid -->
  </section>
  <!-- end home-news -->

{% endblock content %}
