<nav class="top-menu">
	<div class="video-bg hidden-sm hidden-xs">
    	<video src="videos/video2.mp4" autoplay loop></video>
    </div>
    <!-- end video-bg -->
  <ul>
    <li><a href="abouto.html" class="transition"><span data-hover="ABOUTO">ABOUT US</span></a></li>
		<li><a href="contacto.html" class="transition"><span data-hover="CONTACTO">SERVICES</span></a></li>
		<li><a href="{% url "website:contact" %}" class="transition"><span data-hover="WORKO">CONTACT US</span></a></li>
    <li><a href="blogo.html" class="transition"><span data-hover="BLOGO">BLOG</span></a></li>    
  </ul>
</nav>
